## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7 ** 4

2401

In [2]:
s = "Hi there LINGESH!"
x = s.split()

** Split this string:**

    s = "Hi there LINGESH!"
    
**into a list. **

In [3]:
print(x)

['Hi', 'there', 'LINGESH!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet   = "Earth"
diameter = 12742

print("The diameter of {} is {} Kilometers".format(planet,diameter))

The diameter of Earth is 12742 Kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [6]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d.get('k1')[3].get('tricky')[3].get('target')[3]

'hello'

** What is the main difference between a tuple and a list? **

tuple is enclosed within the paranthesis
it cannot be immutuable

whereas list is mutuable, that can be modified.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [9]:
def domainget(email):
  return email.split('@')[-1]

In [10]:
domainget('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [11]:
a  = input()
def check(a):
  if (a == "dog"):
    print('True')
  else:
    print('False')
 
check(a)

10
False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [12]:
str = 'dog barks and dog eats'
print(str.count('dog'))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [13]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [14]:
caught_speeding(90,'no')

'Big Ticket'

In [15]:
caught_speeding(60,'yes')

'No Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [16]:
emp_salary = [25000,33300,12500,50000,43000]
for i in emp_salary:
      total_expenditure = sum(emp_salary)
  
print(total_expenditure)

163800

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [17]:
dict1 = {'Empid':1221, 'Empname': 'Gopal', 'Basicpay': 35000}
dict2 = {'Deptname': 'Information Technology','DeptId': 231}

print({**dict1, **dict2})

{'Empid': 1221, 'Empname': 'Gopal', 'Basicpay': 35000, 'Deptname': 'Information Technology', 'DeptId': 231}