## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s = "Hi there Sam!"
x=s.split()

In [4]:
x

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet   = "Earth"
diameter = 12742

In [6]:
print("The diameter of {} is {} Kilometers".format(planet,diameter))

The diameter of Earth is 12742 Kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d.get('k1')[3].get('tricky')[3].get('target')[3]

'hello'

** What is the main difference between a tuple and a list? **

The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature. Lists are denoted by the square brackets but tuples are denoted as parenthesis.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [13]:
def domainget(email):
  return email.split('@')[-1]

In [14]:
domainget('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
str1  = input()
def check(a):
  if (str1 == "dog"):
    print('True')
  else:
    print('False')

dog

In [16]:
check(str1)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [17]:
str = 'dog is very loyal and dog guards its owner,he owns a lot of dogs'

In [18]:

print(str.count('dog'))

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [20]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [21]:
caught_speeding(90,'no')

'Big Ticket'

In [22]:
caught_speeding(60,'yes')

'No Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [24]:
emp_salary = [27000,38300,24500,60000,53000]
for i in emp_salary:
      total_expenditure = sum(emp_salary)
  
print(total_expenditure)

202800

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [25]:
dict1 = {'Empid':101, 'Empname': 'Hall', 'Basicpay': 44000}
dict2 = {'Deptname': 'Modern Technology','DeptId': 3}

print({**dict1, **dict2})

{'Empid': 101, 'Empname': 'Hall', 'Basicpay': 44000, 'Deptname': 'Modern Technology', 'DeptId': 3}